<%= provide(:title, "Edit") %>

<div class="row">
	<div class="span6 offset3">
	
		<h1>Sign up</h1>

		<%= form_for(@user) do |f| %>

			<%= render 'fields', f: f %>
			<br>
			<%= f.submit "Create my Account", class: "btn btn-primary" %>

		<% end %>
		<%= gravatar_for @user %>
		<%= link_to "Change", "http://gravatar.com/emails" %>
	</div>
</div>