<%= provide(:title, @title) %>
<%= gravatar_for @user, size: 52 %>
<div class="row">
	<aside class="span4">
		<h1><%= @user.name %></h1>
		<span><%= link_to "View my Profile", @user %></span>
		<span>
			<strong>
				Microposts:
			</strong>
			 <%= @user.microposts.count %>
		</span>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<div class="user_avatars">
				<% if @users.any? %>
					<% @users_all.each do |user| %>
						<%= link_to gravatar_for(user, size: 30), user %>
					<% end %>
				<% end %>
			</div>
		</section>
	</aside>
	<div class="span8">
		<h1><%= @title %></h1>
		<% if @users.any? %>
			<ul class="users">
				<%= render @users %>
			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>